<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Erro 404</title>

  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'analise/images/icon.png' %}">
  
  <!-- Custom fonts for this template-->
  <link href="{% static 'analise/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'analise/css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-secondary">

  <!-- Page Wrapper -->
  <div id="wrapper" class="mt-5">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid p-5">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto text-danger" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Página não encontrada</p>
            <a href="/analise/">&larr; Voltar à Página de Análise</a>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'analise/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'analise/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'analise/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'analise/js/sb-admin-2.min.js' %}"></script>

</body>

</html>