<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>A.C.A</title>

  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'analise/images/icon.png' %}">
  

  <link href="{% static 'analise/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <link href="{% static 'analise/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="{% static 'analise/css/style.css' %}" rel="stylesheet">

</head>

<body class="bg-secondary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-md my-3">
      <div class="card-body p-0">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4 font-weight-bold">Análise de Comportamento Atípico</h1>
              </div>
              <form id="analise-form" class="user" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="analista_nome" name="nome" placeholder="Nome do Analista" required>
                </div>
                <div class="text-sm font-weight-bold text-primary mb-2">Dados do Cliente Analisado:</div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="cliente_id" name="id" placeholder="ID do Cliente" required>
                </div>
                <div class="form-group row">
                  <div class="col-sm-9 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="cliente_cidade" name="cidade" placeholder="Cidade" required>
                  </div>
                  <div class="col-sm-3">
                    <input type="text" class="form-control form-control-user" id="cliente_uf" name="uf" placeholder="UF" required>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="text-xm text-gray-800 mb-1">Data inicial: </div><input type="date" class="form-control form-control-user" id="data_inicial" name="data_ini" placeholder="Data inicial" required>
                  </div>
                  <div class="col-sm-6">
                    <div class="text-xm text-gray-800 mb-1">Data final: </div><input type="date" class="form-control form-control-user" id="data_final" name="data_fin" placeholder="Data final" required>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="data_contest" name="data_contest" placeholder="Ano-Mês Contestado (YYYY-MM)" required>
                </div>
                <input type="hidden" id="analise-token" name="token">
                <div class="alert alert-danger" id="alert-modal" role="alert" style="display: none;"></div>
                <input type="submit" id="make_ana_btn" class="btn btn-primary btn-user btn-block" value="Realizar Análise">
                <button id="download_btn" class="btn btn-secondary btn-user btn-block" style="display: none;">
                  <span id="download_label"></span>
                  <i class="fas fa-download ml-3"></i>
                </button>
                <div id="loader" class="pt-1 text-center" style="display: none;">
                  <div class="progress progress-sm m-2">
                    <div id="progress-bar" class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span class="text-xm text-gray-700">Processando: <span class="text-sm text-primary" id="mod_loading"></span></span>
                </div>
                <button id="cancel_btn" class="btn btn-danger btn-cancel btn-user btn-block mt-3" style="display: none;">
                  <span>Cancelar Análise</span>
                </button>
              </form>
            </div>
        </div>
        </div>
      </div>
    </div>
    
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'analise/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'analise/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'analise/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'analise/js/sb-admin-2.min.js' %}"></script>

  <!-- JS Principal -->
  <script src="{% static 'analise/js/index.js' %}"></script>

</body>

</html>
